<h2>Add New Comments</h2>
<%= form_with model: comment, url: user_post_comments_url, method: :post do |f| %>
    <div class = "card-form">
    <div>
        <%= f.label :text %> <br>
        <%= f.text_area :text %>
    </div>

    <div>
        <%= f.submit "Add Comment" %>
        </div>
    </div>
<% end %>