<h1>Index (Will load users in this page)</h1>


<div class="container"> 

<div class="image-container">
    <h2>Image</div>
</div>

<div class="text-container"> 
    <h3>User Name</div> 
    <p>Total number of Posts: X</p>

</div>

</div> 

<%# <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Name</td>
        <td>Bio</td>
        </tr>
  </tbody>
</table> %>

