<%= form_with model: @posts do |form| %>

 <div class="mb-3">
    <% form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder:" Title of the post" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :text, class:"form-control", placeholder:"Content of the post" %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>

<% end %>